.shareprofile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.shareInputText {
  border: none;
  width: 80%;
}
.shareInputText:focus {
  outline: none;
}
.shareWrapper {
  padding: 20px;
}
.ShareContainer {
  margin-left: 10px;
  margin-top: 5px;
  width: 90%;
  height: 180px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.74);
}
.shareTop {
  display: flex;
  align-items: center;
}
.shareHr {
  margin: 20px;
}
.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ShareOptions {
  list-style: none;
  display: flex;
  align-items: center;
}
.ShareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
  margin-top: 10px;
}
.FileMediaIcon {
  margin-right: 10px;
}
.shareOptionText {
  font-size: 14px;
}
.ShareButton {
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 30%;
  margin-right: 20px;
  margin-top: 10px;
}
